<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

    <div id="container" layout:fragment="content">
        <!-- location_area -->
        <div class="location_area customer">
            <div class="box_inner">
                <h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
                <p class="location">고객센터 <span class="path">/</span> 공지사항</p>
                <ul class="page_menu clear">
                    <li><a href="#" class="on">공지사항</a></li>
                    <li><a href="#">문의하기</a></li>
                </ul>
            </div>
        </div>
        <!-- //location_area -->

        <!-- bodytext_area -->
        <div class="bodytext_area box_inner">
            <form action="/notice/modify" method="POST">
                <input type="hidden" name="tno" th:value="${dto.tno}">
                <ul class="bbsview_list">
                    <li class="bbs_title"><input type="text" name="title" size="110" th:value="${dto.title}" ></li>
                    <li class="bbs_hit">작성일 : <span>[[${#temporals.format(dto.regDate,'yyyy-MM-dd HH:mm:ss')}]]</span></li>
                    <li class="bbs_date">조회수 : <span>[[${dto.view}]]</span></li>
                    <li class="bbs_content">
                        <div class="editer_content">
                            <textarea name="content" cols="110" rows="20" >[[${dto.content}]]</textarea>
                        </div>
                    </li>
                </ul>
                <p class="btn_line txt_right">
                    <input type="submit" value="수정" class="btn_srch">
                    <a class="btn_srch btn-remove">삭제</a>
                    <a th:href="|@{/notice/list}?${link}|" class="btn_bbs">목록</a>
                </p>

            </form>

            <ul class="near_list mt20">
                <li><h4 class="prev">다음글</h4><a href="javascript:;">추석 연휴 티켓/투어 배송 및 직접 수령 안내</a></li>
                <li><h4 class="next">이전글</h4><a href="javascript:;">이번 여름 휴가 제주 갈까? 미션 투어 (여행경비 50만원 지원)</a></li>
            </ul>
        </div>
        <!-- //bodytext_area -->

    </div>
    <!-- //container -->
    <script layout:fragment="script" th:inline="javascript">
        const formObj = document.querySelector("form");
        document.querySelector(".btn-remove").addEventListener("click", function (e){
            e.preventDefault();
            // 태그의 기본적인 실행하지 않도록 하는 함수, a태그
            e.stopPropagation();
            // 자식태그를 클릭하면 부모태그에 존재하는 스크립트나 기능이 실행되는 것을 막아주는 함수
            formObj.action = `/notice/remove`;
            // form태그의 action과 method의 설정을 remove에 맞게 변경하는 코드
            formObj.method = "post";
            formObj.submit();
            // form태그를 실행하는 함수
        }, false)
    </script>
</html>
