<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<th:block layout:fragment="cssLink">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</th:block>
<div id="container" layout:fragment="content">
    <!-- location_area -->
    <div class="location_area customer">
        <div class="box_inner">
            <h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
            <p class="location">고객센터 <span class="path">/</span> 공지사항</p>
            <ul class="page_menu clear">
                <li><a href="#" class="on">공지사항</a></li>
                <li><a href="#">문의하기</a></li>
            </ul>
        </div>
    </div>
    <!-- //location_area -->

    <!-- bodytext_area -->
    <div class="bodytext_area box_inner">
        <ul class="bbsview_list">
            <li class="bbs_title">[[${dto.title}]]</li>
            <li class="bbs_hit">작성일 : <span>[[${#temporals.format(dto.regDate,'yyyy-MM-dd HH:mm:ss')}]]</span></li>
            <li class="bbs_date">조회수 : <span>[[${dto.view}]]</span></li>
            <li class="bbs_content">
                <div class="editer_content" th:utext="${dto.content}"></div>
            </li>
        </ul>
        <div class="col">
            <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                <img class="card-img-top" th:each="fileName : ${dto.fileNames}" th:src="|/view/${fileName}|">
            </div>
        </div>
        <p class="btn_line txt_right">
            <a th:href="|@{/notice/list}?${pageRequestDTO.link}|" class="btn_bbs">목록</a>
            <a th:href="|@{/notice/modify(tno=${dto.tno})}&${pageRequestDTO.link}|" class="btn_bbs">수정</a>
        </p>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="my-4">
                    <button class="btn btn-info addReplyBtn">ADD REPLY</button>
                </div>
                <ul class="list-group replyList"></ul>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <ul class="pagination replyPaging"></ul>
                </div>
            </div>
        </div>
<!--        <ul class="near_list mt20">-->
<!--            <li><h4 class="prev">다음글</h4><a href="javascript:;">추석 연휴 티켓/투어 배송 및 직접 수령 안내</a></li>-->
<!--            <li><h4 class="next">이전글</h4><a href="javascript:;">이번 여름 휴가 제주 갈까? 미션 투어 (여행경비 50만원 지원)</a></li>-->
<!--        </ul>-->
    </div>
    <!-- //bodytext_area -->
    <div class="bootstrapArea">
        <div class="modal registerModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">댓글 등록</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">댓글 내용</span>
                            <input type="text" class="form-control replyText">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">작성자</span>
                            <input type="text" class="form-control replyer">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary registerBtn">등록</button>
                        <button type="button" class="btn btn-outline-dark closeRegisterBtn">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modifyModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title replyHeader"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">수정 내용</span>
                            <input type="text" class="form-control modifyText">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info modifyBtn">수정</button>
                        <button type="button" class="btn btn-danger removeBtn">삭제</button>
                        <button type="button" class="btn btn-outline-dark closeModifyBtn">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/reply.js"></script>
</div>
<!-- //container -->
<script layout:fragment="script" th:inline="javascript">
    const tno = [[${dto.tno}]];
    console.log(tno);
    const replyList = document.querySelector(".replyList");
    const replyPaging = document.querySelector(".replyPaging");
    // bootstrap 모달 선언 부분
    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"));
    // 모달에 들어가는 데이터나 버튼 설정
    const registerBtn = document.querySelector(".registerBtn");
    const replyText = document.querySelector(".replyText");
    const replyer = document.querySelector(".replyer");
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn");
    // 페이지네이션 변수
    let currentPage = 1;
    let size = 10;
    // modify 변수
    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"));
    const replyHeader = document.querySelector(".replyHeader");
    const modifyText = document.querySelector(".modifyText");
    const modifyBtn = document.querySelector(".modifyBtn");
    const removeBtn = document.querySelector(".removeBtn");
    const closeModifyBtn = document.querySelector(".closeModifyBtn");

    // 댓글 수정창 출력 이벤트
    replyList.addEventListener("click", function(e){
        e.preventDefault();
        e.stopPropagation();
        const target = e.target;
        if(!target || target.tagName != 'SPAN'){
            return;
        }
        const rno = target.getAttribute("data-rno");
        if(!rno){
            return;
        }
        getReply(rno).then(reply => {
            replyHeader.innerHTML = reply.rno;
            modifyText.value = reply.replyText;
            modifyModal.show();
        }).catch(e => alert('error'));
    },false)
    modifyBtn.addEventListener("click",function(e){
        const replyObj = {
            tno:tno,
            rno:replyHeader.innerHTML,
            replyText:modifyText.value
        }
        modifyReply(replyObj).then(result => {
            alert(result.rno + '댓글이 수정되었습니다.');
            replyText.value="";
            modifyModal.hide();
            printReplies(currentPage,size);
        }).catch(e=>{
            console.log(e);
        })
    },false)
    closeModifyBtn.addEventListener("click", function(e){
        modifyModal.hide();
    },false)
    // 댓글 삭제 이벤트
    removeBtn.addEventListener("click",function(e){
        removeReply(replyHeader.innerHTML).then(result =>{
            alert(result.rno + ' 댓글이 삭제되었습니다.');
            replyText.value = '';
            modifyModal.hide();
            currentPage = 1;
            printReplies(currentPage,size,true);
        }).catch(e =>{
            console.log(e);
        })
    },false)
    // 댓글 페이징 이벤트
    replyPaging.addEventListener("click",function(e){
        e.preventDefault();
        e.stopPropagation();
        const target = e.target;
        if(!target || target.tagName != 'A'){
            return;
        }
        const pageNum = target.getAttribute("data-page");
        currentPage = pageNum;
        printReplies(currentPage,size);
    },false)

    // 댓글 모달창 출력
    document.querySelector(".addReplyBtn").addEventListener("click", function(e){
        registerModal.show();
    },false)
    // 댓글 모달창 숨김
    closeRegisterBtn.addEventListener("click", function(e){
        registerModal.hide();
    },false)
    // 댓글 등록 버튼 이벤트
    registerBtn.addEventListener("click",function(e){
        // JSON형식으로 데이터를 보내기 위해서 JavaScript 객체 생성
        const replyObj = {
            tno:tno,
            replyText:replyText.value,
            replyer:replyer.value
        };
        addReply(replyObj).then(result => {
            alert(result.rno);
            registerModal.hide();
            replyText.value="";
            replyer.value="";
            printReplies(1,10,true);
        }).catch(e=>{
            alert("Exception...");
        })
    },false)


    function printList(dtoList){
        let str = '';
        if(dtoList && dtoList.length){
            for(const dto of dtoList){
                str += `<li class="list-group-item d-flex replyItem">
                            <span class="col-2">${dto.rno}</span>
                            <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
                            <span class="col-2">${dto.replyer}</span>
                            <span class="col-2">${dto.regDate}</span>
                        </li>`
            }
        }
        replyList.innerHTML = str;
    }
    function printPages(data){
        let pageStr = '';
        if(data.prev){
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start-1}">PREV</a></li>`;
        }
        for(let i = data.start; i<=data.end; i++){
            pageStr += `<li class="page-item ${i==data.page?"active":""} "><a class="page-link" data-page="${i}">${i}</a></li>`;
        }
        if(data.next){
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end+1}">NEXT</a></li>`;
        }
        replyPaging.innerHTML = pageStr;
    }

    function printReplies(page,size,goLast){
        getList({tno,page,size,goLast}).then(
            data=>{
                currentPage = data.page;
                printList(data.dtoList);
                printPages(data);
            }).catch(e => {
            console.error(e);
        })
    }
    printReplies(1,10,true);
</script>
</html>
