<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.springex.mapper.MemberMapper">
    <select id="selectMember" resultType="org.zerock.springex.domain.MemberVO">
        SELECT * FROM tbl_member WHERE id=#{id} AND pw=#{pw}
    </select>
    <insert id="insert">
        INSERT INTO tbl_member(id,pw,email1,email2)
        VALUES (#{id},#{pw},#{email1},#{email2})
    </insert>
    <delete id="delete">
        DELETE FROM tbl_member WHERE id=#{id}
    </delete>
</mapper>











